services:
  - class: Soyhuce\LaravelSafeRequest\PHPStan\ReturnTypes\FormRequestSafeEnumReturnTypeExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension

rules:
  - Soyhuce\LaravelSafeRequest\PHPStan\Rules\NoFormRequestUnsafeCall
