includes:
    - ../../vendor/larastan/larastan/extension.neon
    - ../../extension.neon

parameters:
    level: 8
    bootstrapFiles:
        - ../../vendor/larastan/larastan/bootstrap.php
        - bootstrap.php
